name: Docker

on:
  workflow_dispatch:
  push:
    branches: [ main ]


env:
  ALIYUN_REGISTRY: "${{ secrets.ALIYUN_REGISTRY }}"
  ALIYUN_NAME_SPACE: "${{ secrets.ALIYUN_NAME_SPACE }}"
  ALIYUN_REGISTRY_USER: "${{ secrets.ALIYUN_REGISTRY_USER }}"
  ALIYUN_REGISTRY_PASSWORD: "${{ secrets.ALIYUN_REGISTRY_PASSWORD }}"

jobs:

  build:
    name: Pull
    runs-on: ubuntu-latest
    steps:
    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

    - name: Check out code
      uses: actions/checkout@v2

    - name: Build and push image Aliyun
      run: |
        # 安装 Skopeo 工具用于格式转换
        sudo apt-get update && sudo apt-get install -y skopeo

        docker login -u $ALIYUN_REGISTRY_USER -p $ALIYUN_REGISTRY_PASSWORD $ALIYUN_REGISTRY
        while IFS= read -r line; do
          [[ -z "$line" ]] && continue
          echo "docker pull $line"
          docker pull $line
          # 获取镜像的完整名称，例如kasmweb/nginx:1.25.3（命名空间/镜像名:版本号）
          image=$(echo "$line" | awk '{print $NF}')
          # 获取 镜像名:版本号  例如nginx:1.25.3
          image_name_tag=$(echo "$image" | awk -F'/' '{print $NF}')
          new_image="$ALIYUN_REGISTRY/$ALIYUN_NAME_SPACE/$image_name_tag"
          echo "docker tag $image $new_image"
          docker tag $image $new_image
          
          # === 新增代码：将 Docker 镜像转换为 OCI 格式 ===
          echo "Converting $image to OCI format..."
          # 清理旧的临时目录（如果存在）
          rm -rf ./oci_tmp_image
          # 从 Docker Daemon 导出并转换为 OCI 目录格式
          skopeo copy docker-daemon:$image oci:./oci_tmp_image
          
          # === 修改代码：推送刚刚转换的 OCI 镜像 ===
          echo "Pushing OCI image to $new_image"
          # 使用 skopeo 将本地 OCI 目录推送到远程仓库
          skopeo copy --dest-creds $ALIYUN_REGISTRY_USER:$ALIYUN_REGISTRY_PASSWORD oci:./oci_tmp_image docker://$new_image
          
          # 清理临时文件
          rm -rf ./oci_tmp_image
        done < images.txt
